* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

:root {
    --bg: #F5EFE6;
    --primary: #5A3E2B;
    --secondary: #C86B3C;
    --accent: #7A8F4E;
    --text: #2B2B2B;
}

body {
    background-color: var(--bg);
    color: var(--text);
}


#top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: red;
    width: 100%;
    height: 2em;
}


#about-section li {
    display: inline;
    margin: 1em;
}



/* HEADER SEACTION */

.header-seaction {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em
}

#button-alignment {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#get-random-dish {
    padding: 10px;
    border-radius: 10px;
    width: 20em;
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
}

#get-random-dish:active {
    background-color: #dedbd2;
}

